.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin: 0 10rem;

    @include lg {
        margin: 0 2rem;
    }

    @include md {
        grid-template-columns: 1fr;
    }

    &__img {
        width: 100%;
    }

    &__feature {
        align-self: center;
        justify-self: center;
        width: 70%;
        font-size: 1.5rem;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-primary-opacity;
        @include size(5.5rem, 5.5rem);
        border-radius: 50%;
        margin-bottom: 2rem;

        svg {
            @include size(2.5rem, 2.5rem);
            fill: $color-primary;
        }
    }

    &__header {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}