@mixin sm {
    @media only screen and (max-width: 576px) {
        @content;
    }
}

@mixin md {
    @media only screen and (max-width: 768px) {
        @content;
    }
}

@mixin lg {
    @media only screen and (max-width: 992px) {
        @content;
    }
}

@mixin xl {
    @media only screen and (max-width: 1200px) {
        @content;
    }
}

@mixin size($height, $width) {
    width: $width;
    height: $height;
}

@mixin position($position, $top, $left) {
    position: $position;
    top: $top;
    left: $left;
}

@mixin flexbox($display, $align, $justify) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
}