@mixin sm {
    @media only screen and (max-width: 576px) {
        @content;
    }
}

@mixin md {
    @media only screen and (max-width: 768px) {
        @content;
    }
}

@mixin lg {
    @media only screen and (max-width: 992px) {
        @content;
    }
}

@mixin xl {
    @media only screen and (max-width: 1200px) {
        @content;
    }
}

@mixin size($height, $width) {
    width: $width;
    height: $height;
}

@mixin position($position, $top, $left) {
    position: $position;
    top: $top;
    left: $left;
}

@mixin position1($position: relative, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;

    @if $top {
        top: $top;
    }

    @if $right {
        right: $right;
    }

    @if $bottom {
        bottom: $bottom;
    }

    @if $left {
        left: $left;
    }
}


@mixin flexbox($display, $align, $justify) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
}