.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include size(9rem, 100%);
    padding: 0 6rem;
    z-index: 100;
    background-color: #fff;

    @include sm {
        padding: 0 3rem;
    }

    .toggle {
        color: $color-primary;
        font-size: 2.8rem;
        display: none;

        @include lg {
            display: block;
        }
    }

    &.sticky {
        position: fixed;
        background-color: #fff;

        @include sm {
            padding: 0 3rem;
        }
    }

    &__logo {
        height: 4.5rem;
        transition: all 0.3s;
    }

    &__links {
        display: flex;
        align-items: center;
        list-style: none;
        cursor: pointer;

        @include lg {
            position: absolute;
            top: 90px;
            left: 0;
            right: 0;
            width: 100%;
            height: 0;
            background-color: #fff;
            flex-direction: column;
            justify-content: center;
            gap: 4rem;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
        }

        &.active {
            height: 545px;
            opacity: 1;
            visibility: visible;
        }


    }

    &__item {
        margin-left: 4rem;
    }


    &__link:link,
    &__link:visited {
        font-size: 1.7rem;
        font-weight: 400;
        color: inherit;
        display: block;
        transition: all 0.3s;


    }

    &__link--btn:link,
    &__link--btn:visited {
        padding: 0.8rem 2.5rem;
        border-radius: 3rem;
        background-color: $color-primary;
        color: #222;
    }

    &__link--btn:hover,
    &__link--btn:active {
        color: inherit;
        background-color: $color-primary-darker;
        color: #333;
    }
}