.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    width: 100%;
    padding: 0 6rem;
    z-index: 100;



    &.sticky {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.95);
    }

    &__logo {
        height: 4.5rem;
        transition: all 0.3s;
    }

    &__links {
        display: flex;
        align-items: center;
        list-style: none;
        cursor: pointer;

        .toggle {
            display: none;
            position: relative;
            cursor: pointer;
            height: 40px;
            width: 40px;

            @include lg {
                display: block;
            }

            &__check {
                display: none;
                visibility: hidden;
                -webkit-appearance: none;
            }

            .toggle__check:checked~.toggle .toggle__line--top {
                left: 2px;
                top: 14px;
                width: 25px;
                transform: rotate(45deg);
            }

            .toggle__check:checked~.toggle .toggle__line--bottom {
                left: 2px;
                top: 14px;
                width: 25px;
                transform: rotate(-45deg);
            }

            .toggle__check:checked~.toggle .toggle__line--mid {
                opacity: 0;
                transform: translateX(20px);
            }

            &__line {
                position: absolute;
                height: 2.5px;
                width: 27px;
                background-color: $color-primary;
                border-radius: 50px;
                transition: all 0.3s ease;
            }

            &__line--top {
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &__line--mid {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &__line--bottom {
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        }
    }

    &__item {
        margin-left: 4rem;
    }


    &__link:link,
    &__link:visited {
        font-size: 1.7rem;
        font-weight: 400;
        color: inherit;
        display: block;
        transition: all 0.3s;

        @include lg {
            display: none;
        }
    }

    &__link--btn:link,
    &__link--btn:visited {
        padding: 0.8rem 2.5rem;
        border-radius: 3rem;
        background-color: $color-primary;
        color: #222;
    }

    &__link--btn:hover,
    &__link--btn:active {
        color: inherit;
        background-color: $color-primary-darker;
        color: #333;
    }
}