.section--sign-up {
    background-color: #37383d;
    border-top: none;
    border-bottom: 1px solid #444;
    text-align: center;
    padding: 10rem 3rem;
}

.section--sign-up .section__header {
    color: #fff;
    text-align: center;
}

.section--sign-up .section__title {
    margin-bottom: 6rem;
}

.section--sign-up .btn {
    font-size: 1.9rem;
    padding: 2rem 5rem;
}