.testimonial {
    width: 65%;
    position: relative;
}

.testimonial::before {
    content: "\201C";
    position: absolute;
    top: -5.7rem;
    left: -6.8rem;
    line-height: 1;
    font-size: 20rem;
    font-family: inherit;
    color: $color-primary;
    z-index: -1;
}

.testimonial__header {
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.testimonial__text {
    font-size: 1.7rem;
    margin-bottom: 3.5rem;
    color: #666;
}

.testimonial__author {
    margin-left: 3rem;
    font-style: normal;
    display: grid;
    grid-template-columns: 6.5rem 1fr;
    column-gap: 2rem;
}

.testimonial__photo {
    grid-row: 1 / span 2;
    width: 6.5rem;
    border-radius: 50%;
}

.testimonial__name {
    font-size: 1.7rem;
    font-weight: 500;
    align-self: end;
    margin: 0;
}

.testimonial__location {
    font-size: 1.5rem;
}

.section__title--testimonials {
    margin-bottom: 4rem;
}